<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xdclass.mybatis.dao.VideoMapper">

    <sql id="col">
        id, title, summary, cover_img, price, create_time, c_id, point
    </sql>

    <select id="selectById" resultType="com.xdclass.mybatis.domain.Video">
        SELECT
        <include refid="col"/>
        FROM video WHERE id=#{video_id}
    </select>

    <select id="selectListByXML" resultType="com.xdclass.mybatis.domain.Video">
        SELECT
        <include refid="col"/>
        FROM video
    </select>

    <select id="selectByPointAndTitleLike" resultType="com.xdclass.mybatis.domain.Video">
        SELECT
        <include refid="col"/>
        FROM video
        WHERE point=#{point} and title like concat('%',#{title},'%')
    </select>


    <insert id="add" parameterType="com.xdclass.mybatis.domain.Video">
        INSERT INTO video (title, summary, cover_img, price, c_id, point)
        VALUES (#{title,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, #{coverImg,jdbcType=VARCHAR},
                #{price,jdbcType=INTEGER}, #{cId,jdbcType=INTEGER}, #{point,jdbcType=FLOAT});
    </insert>

    <insert id="addBatch" parameterType="java.util.List" useGeneratedKeys="false">
        INSERT INTO video
        ( title, summary, cover_img, price, create_time, c_id, point )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.title},
            #{item.summary},
            #{item.coverImg},
            #{item.price},
            now(),
            #{item.cId},
            #{item.point}
            )
        </foreach>
    </insert>


    <update id="updateVideo" parameterType="com.xdclass.mybatis.domain.Video">
        UPDATE video
        SET title       = #{title},
            summary     = #{summary},
            cover_img   = #{coverImg},
            price       = #{price},
            create_time = now(),
            c_id        = #{cId},
            point       = #{point}
        WHERE id = #{id};
    </update>

    <update id="updateVideoSelective" parameterType="com.xdclass.mybatis.domain.Video">
        update video
        <trim prefix="set" suffixOverrides=",">
            <if test="null != title">
                title=#{title},
            </if>
            <if test="null != summary">
                summary=#{summary},
            </if>
            <if test="null != coverImg">
                cover_img=#{coverImg},
            </if>
            <if test="null != price">
                price=#{price},
            </if>
            <if test="null != createime">
                create_time=now(),
            </if>
            <if test="null != cId">
                c_id=#{cId},
            </if>
            <if test="null != point">
                point=#{point},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteByCreateTimeAndPrice" parameterType="java.util.Map">
        DELETE FROM VIDEO WHERE CREATE_TIME>#{createTime} AND PRICE <#{price}
    </delete>
</mapper>